
body {

    margin: 0;
    padding: 0;
    font: 200 1em 'Helvetica Neue';
}

input, button {
    font: 200 1em 'Helvetica Neue';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
}

button {
    background-color: #eee;
}



